services:
  postgres:
    image: postgres:18-alpine
    container_name: subscription_db_prod
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
      - ./backend/src/infrastructure/database/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - subscription_network

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: subscription_backend
    restart: always
    env_file:
      - .env.prod
    environment:
      NODE_ENV: production
      DB_HOST: postgres
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - subscription_network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: subscription_frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - subscription_network

networks:
  subscription_network:
    driver: bridge

volumes:
  postgres_prod_data: